extends ../index

block content
    h2  i'm block from sendLetter
    h1 From for send Letter
    form(style="width:200px; border: 1px solid #c6c6c6; margin-left:20px; padding:5px", method="POST")
        div.form-group
            label(for="email") Email
            input.form-control#email(name="email")
        div.form-group
            label(for="text") Text
            textarea.form-control#text(name="text")

        div.form-group
            button.btn.btn-primary(type="submit") submit


